export SERVERBASE="/mnt/c/Minecraft/servers/2021-10-17"
export SERVERDIR="$SERVERBASE/server"
export SERVERJAR="$SERVERDIR/server.jar"
export NAMEDBACKUPDIR="$SERVERBASE/namedbackups"
export BACKUPDIR="$SERVERBASE/backups"
